.counter__count {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.counter__increment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 14px;
    gap: 10px;
    width: 34px;
    height: 23px;
    background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
    border-radius: 1000px;
}

.counter__value {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: rgba(63, 78, 101, 1);
}

.counter__decrement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 14px;
    gap: 10px;
    width: 34px;
    height: 23px;
    background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
    border-radius: 1000px;
}