.bradcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
}

.bradcrumbs__history {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    color: rgba(63, 78, 101, 1);
    padding: 0 10px;
    border-left: 1px dashed rgba(63, 78, 101, 1);
    margin-bottom: 50px;
}